@charset "utf-8";
/* CSS Document */

body
{
	width: 900px;
	min-height: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 20px;
	box-shadow: 4px 4px 4px 4px #888888;	
}

h5{

        text-align: centre;
	border: 2px soild #a1a1a1;
	padding: 10px;
	background: #524C4C;
	width: 100%;
	border-radius: 0px;
	color: #FFF;
}


img
{
	width: 400px;
}

#sales{
	/*border-style: solid;
	border-weight: 4px;
	border-color: #888888;
	padding: 20px;
	width: 40%;*/
	float: left;
}

#latest{
	/*border-style: solid;
	border-weight: 4px;
	border-color: #888888;
	padding: 20px;
	width: 40%;*/
	float: right;

}


#footer{
	clear: both;

}
img{
float: right;

}


#content{
	padding-top: 20px;
	clear: both;

}

#heading{
	margin-top: 10px;

}